.about{
    width: 50%;
    height: 70vh;

   position: relative;
}
img{
   width:60%;
   width:100rem;
   height: 30rem;
  object-fit: cover;
}
.about-text{
   position: absolute;
    top:60%;
   left: 45%;
   font-weight: 900;
   transform:translate(-50,-50);
   width:100%;


}

.about-text h1{
   font-size: 5rem;
   font-weight: 800;
    color:aliceblue;
   
}
.about-text p{
   font-size: 1.4rem;
   font-weight: 500;
   padding-left: 60px;
   padding-top: 10px;
   color: aliceblue;


}



@media screen and (max-width:555px){
       
   .hero-text{
       left: 15%;
   }
   
   .hero-text h1{
       font-size: 2rem;
       font-weight: 800;
       display: block;
   
       
        color:black;
       
   }
   .hero-text p{
       font-size: 1rem;
       font-weight: 400;
       padding-left: 30px;
       padding-top: 10px;
   
   
   }
   .hero-text button{
       left: 10%;
       justify-content: center;
   }

   
}
@media screen and (max-width:800px){
.hero-text{
   position: absolute;
    top:50%;
   left: 18%;
   font-weight: 800;
   
   width:100%;


}
.hero-text h1{
   font-size: 2.5rem;
   font-weight: 800;
   
 margin-left: 15px;
   
    color:black;
   
}
.hero-text p{
   font-size: 1.5rem;
   font-weight: 400;
   padding-left: 30px;
   padding-top: 10px;


}
}