.contact{
    width: 70%;
    height: 30vh;

   position: relative;
}
img{
   width:50%;
   width:60rem;
   height: 40rem;
  object-fit: cover;
}
.contact-text{
   position: absolute;
    top:60%;
   left: 45%;
   font-weight: 900;
   transform:translate(-50,-50);
   width:100%;


}

.contact-text h1{
   font-size: 5rem;
   font-weight: 800;
    color:aliceblue;
   
}
.contact-text p{
   font-size: 1.4rem;
   font-weight: 500;
   padding-left: 60px;
   padding-top: 10px;
   color: aliceblue;


}



@media screen and (max-width:555px){
       
   .contact-text{
       left: 16%;
   }
   
   .contact-text h1{
       font-size: 2rem;
       font-weight: 800;
       display: block;
   
       
        color:antiquewhite;
       
   }
   .contact-text p{
       font-size: 1rem;
       font-weight: 400;
       padding-left: 30px;
       padding-top: 10px;
   
   
   }

   
}
@media screen and (max-width:800px){
.contact-text{
   position: absolute;
    top:50%;
   left: 14%;
   font-weight: 800;
   
   width:100%;


}
.contact-text h1{
   font-size: 2.9rem;
   font-weight: 800;
   
 margin-left: 17px;
   
    color:whitesmoke;
   
}
.contact-text p{
   font-size: 1.5rem;
   font-weight: 400;
   padding-left: 30px;
   padding-top: 10px;


}
}